@import "tailwindcss";

input {
  border: 1px solid black;
  background-color: white;
}

button {
  background-color: gray;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-table,
.custom-table th,
.custom-table td {
  border: 1px solid black;
  padding: 5px;
}

.custom-table tbody tr {
  cursor: pointer;
}

.custom-table tr:hover {
  background-color: #54b840;
}
